@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DAM_Madheeh";
  src: url("/fonts/DAM_Madheeh.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white min-h-screen;
    scroll-behavior: smooth;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;


}

::-webkit-scrollbar {
  display: none;
}